<div class="login-container component">
    <mat-card style="color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03)">Reset Password</mat-card>
    <mat-card>
        <form class="example-form">
        <mat-form-field >
          <input matInput #emailInput placeholder="Email" [formControl]="email" required >
          <mat-error *ngIf="email.invalid">{{getErrorMessage("email")}}</mat-error>
        </mat-form-field>
        <button mat-raised-button (click)="reset(emailInput.value)" color="primary">Reset</button>
      </form>
    </mat-card>
    </div>